<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.stingraymappingproject.api.clientandroid">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application>
        <service
            android:name=".StingrayAPIClientService"
            android:enabled="true"
            android:exported="false">
        </service>
    </application>
</manifest>
